#container {
    height: 500px;
    width: 500px;
    border: 0.5px solid black;
    margin: 15vh auto 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
}

.border-black{
    border: 0.5px solid black;
    box-sizing: border-box;
}

#range {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto 0;
}

#range > input {
    width: 25vh;
}